/*
    Navigation menu
*/

.menu {
    background: #343131;
    width: 27%;
    min-width: 12rem;
    max-width: 15.5rem;
}

.nav {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
}

.nav--logo {
    padding: 24px 0 0;
    background: #0972b7;
    position: relative;
}

#nav--burger {
    display: none;
    align-items: center;
    width: 2rem;
    cursor: pointer;
    margin-right: .5rem;
}

.nav--logo--svg {
    display: block;
    width: 5rem;
    margin: 0 auto;
}

.nav--search {
    display: flex;
    background: #0972b7;
    margin: 0;
    padding: 15px 1rem;
}

.nav--search--form {
    display: flex;
    flex: 1;
    align-items: center;
}

.nav--search--input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #24648f;
    outline: none;
    padding: 6px 0.9rem;

    font-family: inherit;
    font-size: .9rem;
    //line-height: 1.4;

    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: transparent;
        outline: 0;
        box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.2);
    }

    &::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &::placeholder {
        color: #6c757d;
        opacity: 1;
    }
}


#nav--ul {
    padding: 0 0 10px;
    margin: 10px 0 0;
    list-style: none;
}

.nav--ul--li {
    margin: 0;

    &:hover {
        background-color: #4e4a4a;
    }
}

.nav--ul--li-active {
    color: #404040;

    > .nav--ul--li--a {
        color: #404040;
        border-bottom: solid 1px #c9c9c9;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect width='9' height='9' x='3.5' y='3.5' fill='none' stroke='%23333' rx='2' ry='2'/%3E%3Cpath fill='%23333' d='M5.5 7.5h5v1h-5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 1rem 1rem;
        background-position: .35rem 50%;
    }
}

.nav--ul--li--a {
    display: block;
    color: #b3b3b3;
    padding: 5px .5rem 5px 1.5rem;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.nav--ul--li--a--label {
    display: inline-block;
    font-size: 0.7em;
    color: #088608;
    border: 1px solid #088608;
    vertical-align: 1px;
    border-radius: 3px;
    padding: 0 .3em;
    margin: 1px 0 1px .3rem;
}


.nav--ul--li--ol {
    list-style: none;
    background: #e3e3e3;
    padding: 3px 0 6px;
    margin-bottom: 3px;
    border-right: solid 1px #c9c9c9;
}

.nav--ul--li--ol--li {
    margin: 0;
}

.nav--ul--li--ol--li--a {
    display: block;
    color: #666;
    padding: 3px .5rem 3px 2rem;
}





.nav--fold {
    position: absolute;
    left: .37rem;
    margin-top: 10px;
    width: 1rem;
    height: 1rem;
}
