/**
*   Highlight.
**/

.hljs-attr { color: #bd143e; }
.hljs-string { color: #138061; }
.hljs-number { color: #fa755a; }
.hljs-comment { color: #9a9a8e; font-style: italic; }
.hljs-keyword { color: #a71d5d; }
.hljs-literal { color: #008080; }
.hljs-attribute, .hljs-name { color: #000080; font-weight: normal; }
.hljs-built_in { color: #0086b3; }
.hljs-meta { color: #999; font-weight: bold; }

// .hljs-selector-tag, .hljs-subst { color: #333; font-weight: bold; }
//  hljs-section, .hljs-title { color: #900; font-weight: bold; }
// .hljs-subst { font-weight: normal; }
// .hljs-type { color: #458; font-weight: bold; }
// .hljs-link, .hljs-regexp { color: #009926; }
// .hljs-bullet, .hljs-symbol { color: #990073; }
// .hljs-deletion { background: #fdd; }
// .hljs-addition { background: #dfd; }
// .hljs-emphasis { font-style: italic; }
// .hljs-strong { font-weight: bold; }


/*
    Code examples (tab w. cURL, PHP, NodeJS etc.)
*/

.code--example {
    margin: 21px 0 0;
    border: 1px solid #e3e3e3;
    min-width: 40em;

    > pre {
        border-top: 1px solid #e3e3e3;
    }
}

.code--example--first {
    margin-left: 12px;
}

.code--example--active {
    border-bottom: 2px solid #1c83c7;
}



// TODO: find a name for this...
.code--tmp {
    display: block;
    font-size: .9em;
    font-family: "H", monospace;
}

.code--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}


.code--block {
    display: block;
    width: fit-content;
    min-width: 100%; // fill entire width
    padding: .6em .7em;
    margin: .6em 0 0;
    border-radius: .3em;
    background: #f9f9f9;
    border: 1px solid #dcdcdc;
    font-size: .8em;
    font-family: "H", monospace;
    color: #252525;
    white-space: pre;
    box-sizing: border-box;
}

.code--inline {
    font-size: .85em;
    font-family: "H", monospace;
    color: #bd143e;
    border: solid 1px #e1e4e5;
    margin: 0 1px;
    padding: 1px 3px 1px;
    border-radius: 3px;
}

.code--cmdln {
    display: block;
    width: fit-content;
    min-width: 100%; // fill entire width
    overflow: hidden;
    font-size: .9em;
    font-family: "H", monospace;
    color: #252525;
    padding: .5em;
    margin: .5em 0 0;
    background: #f4f4f4;
    border-radius: 3px;
    box-sizing: border-box;

    &:before {
        content: '$ ';
        color: #999;
    }
}


.ellipsis {
    word-break: break-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*
    Code
*/


.responsive {
    width: 100%;
    overflow-x: auto;
    padding: 0 0 .5em 0;
}

pre {
    margin: 0;
}
