$phone-margin: 1.3rem;


/*
    Phone
*/
@media only screen and (max-width: 40rem) {
    body {
        display: block;
    }

    .menu {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .nav {
        position: static; // default
    }

    .nav--logo, .header--git, #nav--ul {
        display: none;
    }

    #nav--ul.show {
        display: block;
    }

    .nav--search {
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        padding-top: 17px;
        padding-bottom: 16px;
    }

    #nav--burger {
        display: flex;
    }


    #bg {
        display: block;
    }


}
