$phone-margin: 1.3rem;

@media only screen and (max-width: 40rem) {
    body {
        display: block;
    }

    .menu {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .nav {
        position: static; // default
    }

    .nav--logo, .header--git, #nav--ul {
        display: none;
    }

    #nav--ul.show {
        display: block;
    }

    .nav--search {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    #nav--burger {
        display: flex;
    }

    #bg {
        //padding: 0 $phone-margin;
    }
}
