
<h1>Charge Subscriber</h1>
<p>
  The charge subscriber API call will charge a specified subscriber ID.
</p>

<h3>Request Headers</h3>
<p>
  The request endpoint is: <code class="code">https://api.scanpay.dk/v1/subscribers/<span class="hljs-string">$id</span>/charge</code>, where <code class="code hljs-string">$id</code> is the subscriber ID that you want to charge. The following HTTP request headers are required:
</p>
<table class="table--fixed">
  <thead>
    <tr>
      <th>HTTP/1.1 headers</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tablecode">
        <div class="ellipsis">
          <span class="hljs-attribute">Authorization</span>: Basic MTE1MzpZSFpJVUdRdzZOa0NJWWEzbUc2Q1djZ1NobmwxM3h1STdPREZVWXVNeTBqNzkwUTZUaHdCRWp4ZldGWHdKWjBX
        </div>
      </td>
      <td>
        HTTP Basic authentication. <a href="/security#request-authentication">Read more</a>.
      </td>
    </tr>
    <tr>
      <td class="tablecode">
        <div class="ellipsis">
          <span class="hljs-attribute">Idempotency-Key</span>: xM3h1STdPREZVWXVNeTBqNzkwUTZUaHdCRWp4ZldGWHdKWjBX
        </div>
      </td>
      <td>
        Sending multiple requests with the same the body and idempotency key will always give the same response and response code. To ensure the validity of the response, however, you must check for the Idempotency-Status header.
      </td>
    </tr>
  </tbody>
</table>

<h3 id="request-fields">Request Fields</h3>
<p>
  All request fields are listed below. Note that if the billing address and/or shipping address is unspecified, they will default to the addresses specified in the subscriber.
</p>

<table class="table--fixed">
  <thead>
    <tr>
      <th>JSON fields</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tablecode">
        <span class="hljs-attr">"orderid"</span>: <span class="hljs-string">"123"</span>
      </td>
      <td class="td--desc">
        A unique ID that you choose. Never reuse IDs or your synchronization may behave in unexpected ways.
      </td>
    </tr>
    <tr>
      <td class="tablecode">
        <pre>{% include "src/assets/code/subscriptions/items.json" %}</pre>
      </td>
      <td class="td--desc">
        An array with items.
        <ul class="table--ul">
          <li><b>name:</b> The name of the item.</li>
          <li><b>quantity:</b> The number of items (integer).</li>
          <li><b>total:</b> The line total (i.e. unit-price x quantity) with an ISO 4217 currency code. This is required.</li>
          <li><b>sku:</b> A <a rel="nofollow" href="//en.wikipedia.org/wiki/Stock_keeping_unit">SKU</a> for this particular product.</li>
        </ul>
        <span class="td--note">In this example the grand total is 13397.9986 DKK. Most acquires only support 2 digits after the decimal point. If this is the case we will truncate to 13397.99.</span>
      </td>
    </tr>
{% include "src/assets/code/subscriptions/addr.html" %}
    <tr>
      <td class="tablecode">
        <span class="hljs-attr">"autocapture"</span>: <span class="hljs-number">true</span>
      </td>
      <td class="td--desc">
        Automatically capture the payment. Default is true.
      </td>
    </tr>
  </tbody>
</table>

<h3 id="request-headers">Response Headers</h3>
<table class="table--fixed">
  <thead>
    <tr>
      <th>HTTP/1.1 headers</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="tablecode">
        <span class="hljs-attribute">Idempotency-Status</span>: <span class="">OK</span>
      </td>
      <td>
        Response header to ensure that the idempotency key has been considered.
      </td>
    </tr>
  </tbody>
</table>

<h3 id="subcharge-response">Response</h3>
<p>
  Successful responses have a <code class="code">200</code> HTTP status code
</p>
