/*
    Synchronization
*/

.mysql, .mssql, .postgresql, .generic {
  display: none;
}

.show--mysql > .mysql, .show--mssql > .mssql, .show--postgresql > .postgresql, .show--generic > .generic {
  display: inline;
}

.fsize15 {
  font-size: 15px;
}

#eg--sync {
    position: absolute;
    z-index: 9;
    top: 10px;
    right: 12px;
}
