<!--
title: Subscriptions API
description: ...
links: [Create Subscriber](/subscriptions/create-subscriber), [Charge Subscriber](/subscriptions/charge-subscriber), [Renew Subscriber](/subscriptions/renew-subscriber)
-->

<h1>Subscriptions</h1>
<p>
  The Subscriptions API allows you to handle recurring payments. You can use it to charge customers on a regular basis or to save a customer's payment details, so the customer does not have to enter the information again. There are three API calls: <a href="/subscriptions/create-subscriber">Create subscriber</a>, <a href="/subscriptions/charge-subscriber">Charge subscriber</a> and <a href="/subscriptions/renew-subscriber">Renew Subscriber</a>. Here we will show you how to use the API:
</p>

<h3 id="create-subscriber">Create subscriber</h3>
<p>
  The <a href="/subscriptions/create-subscriber">create subscriber</a> API call will return a link to a payment page, where the customer can enter their payment details. The only required field is <code class="code--inline">subscriber</code>, but we recommend that you provide us with as much information as possible.
</p>

<div class="table--responsive">
  <pre><code class="code--block">{% include "code/subscriptions/pseudo-create.html" %}</code></pre>
</div>

<p>
  You will receive a <a href="/synchronization#ping-service">ping</a> when the customer has completed the process. You can then use the Synchronization API to retrieve the subscriber ID.
</p>

<h3 id="charge-subscriber">Charge subscriber</h3>
<p>
  The <a href="/subscriptions/charge-subscriber">charge subscriber</a> API call will charge the specified subscriber, in this case subscriber <code class="code--inline hljs-number">186</code>. The only required field is <code class="code--inline">items</code>, but we recommend that you provide us with as much information as possible.
</p>

<div class="table--responsive">
  <pre><code class="code--block">{% include "code/subscriptions/pseudo-charge.html" %}</code></pre>
</div>

<h3 id="renew-subscriber">Renew subscriber</h3>
<p>
  The <a href="/subscriptions/renew-subscriber">renew subscriber</a> API call will return a link to a payment page, where the customer can update their payment details e.g. if the card has expired. There are no required fields.
</p>

<div class="table--responsive">
  <pre><code class="code--block">{% include "code/subscriptions/pseudo-renew.html" %}</code></pre>
</div>
