/**
*   @author ScanPay ApS.
**/

// Bitter (2019-11)
@font-face {
    font-family: 'B';
    font-weight: 700;
    src: url('font/B700.woff2') format('woff2');
}

// Lato (2021-09-24)
@font-face {
    font-family: 'L';
    font-weight: 400;
    src: url('font/L400.woff2') format('woff2');
}
@font-face {
    font-family: 'L';
    font-weight: 400;
    font-style: italic;
    src: url('font/L400i.woff2') format('woff2');
}
@font-face {
    font-family: 'L';
    font-weight: 700;
    src: url('font/L700.woff2') format('woff2');
}
@font-face {
    font-family: 'L';
    font-weight: 700;
    font-style: italic;
    src: url('font/L700i.woff2') format('woff2');
}

// Hack (2019-11)
@font-face {
    font-family: 'H';
    font-weight: 400;
    src: url('font/H400.woff2') format('woff2');
}
@font-face {
    font-family: 'H';
    font-weight: 400;
    font-style: italic;
    src: url('font/H400i.woff2') format('woff2');
}
@font-face {
    font-family: 'H';
    font-weight: 700;
    src: url('font/H700.woff2') format('woff2');
}
@font-face {
    font-family: 'H';
    font-weight: 700;
    font-style: italic;
    src: url('font/H700i.woff2') format('woff2');
}


body {
    margin: 0;
    font-family: 'L', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background: #f0f0f0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tab-size: 4;
    min-width: 16rem;
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #3074af;
    text-decoration: none;

    &:active {
        outline: 0;
    }
    &:hover {
        outline: 0;
        text-decoration: underline;
    }
}

p {
    padding: 0;
    margin: .7em 0;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -.4em;
  font-size: .9em;
}

b, strong { font-weight: 600; }

h2, h3, h4 {
    font: 700 15px / normal 'B', serif;
    margin: 1.6em 0 .6em;
    color: #404040;
}

h1 {
    margin: 1em 0 .8em;
    font-family: 'B', serif;
    font-weight: 700;
    font-size: 1.7em;
    line-height: normal;
}

h2 {
    font-size: 1.5em;
    margin: 1.2em 0 .55em;
}

h3 {
    font-size: 1.1em;
    margin: 1.4em 0 .65em;
}

h4 {
    font-size: 1.2em;
}


.hlink {
    display: inline-block;
    position: absolute;
    margin: 3px 0 0 .3em;
    width: 1em;
    height: 1em;
}

.rel {
    position: relative;
}

hr {
    margin: 50px 0;
    border: 0;
    border-top: 1px solid #e1e4e5;
}

section {
    margin-bottom: 3.4em;
}



/*
    Sidebar
*/

.nav-- {
    background: #343131;
    width: 25%;
    min-width: 12rem;
    max-width: 15rem;
}

.nav--c {
    position: -webkit-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
}

.nav--c--head {
    padding: 24px 0 0;
    background: #0972b7;
    position: relative;
}

#nav--c--burger {
    display: none;
    align-items: center;
    width: 2rem;
    cursor: pointer;
    margin-right: .5rem;
}

.nav--c--head--logo {
    display: block;
    width: 5rem;
    margin: 0 auto;
}

.nav--c--search {
    display: flex;
    background: #0972b7;
    margin: 0;
    padding: 15px 1rem;
}

.nav--c--search--input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #24648f;
    outline: none;
    padding: 6px 0.9rem;

    font-family: inherit;
    font-size: .9rem;
    //line-height: 1.4;

    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
        color: #212529;
        background-color: #fff;
        border-color: transparent;
        outline: 0;
        box-shadow: 0 0 0 0.2em rgba(0, 0, 0, 0.2);
    }

    &::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    &::placeholder {
        color: #6c757d;
        opacity: 1;
    }
}

#nav--c--ul {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}

.nav--c--ul--li {
    margin: 0;

    &:hover {
        background-color: #4e4a4a;
    }
}

.nav--c--ul--li--a {
    display: block;
    color: #b3b3b3;
    padding: 5px .5rem 5px 1.5rem;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.nav--c--ul--li--ol {
    list-style: none;
    background: #e3e3e3;
    padding: 3px 0 6px;
    margin-bottom: 3px;
    border-right: solid 1px #c9c9c9;
}

.nav--c--ul--li--ol--li {
    margin: 0;
}

.nav--c--ul--li--ol--li--a {
    display: block;
    color: #666;
    padding: 3px .5rem 3px 2rem;
}


.nav--c--ul--li-active {
    color: #404040;

    > a {
        color: #404040;
        border-bottom: solid 1px #c9c9c9;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect width='9' height='9' x='3.5' y='3.5' fill='none' stroke='%23333' rx='2' ry='2'/%3E%3Cpath fill='%23333' d='M5.5 7.5h5v1h-5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 1rem 1rem;
        background-position: .35rem 50%;
    }
}






.nav--label {
    display: inline-block;
    font-size: 0.7em;
    color: #088608;
    border: 1px solid #088608;
    vertical-align: 1px;
    border-radius: 3px;
    padding: 0 .3em;
    margin: 1px 0 1px .3rem;
}



.nav--fold {
    position: absolute;
    left: .37rem;
    margin-top: 10px;
    width: 1rem;
    height: 1rem;
}


#bg {
    background: #fff;
    max-width: 50rem;
    padding: 0 6% 0;
}

main {
    position: relative;
    min-height: 100vh;
}

.c {
    position: relative;
    width: 100%;
    max-width: 67rem;
}

article {
    position: relative;
    padding-bottom: 7em;
}

.footer {
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    padding-top: 22px;
    color: #888;
    border-top: 1px solid #e1e4e5;
    font-size: .9em;
}

.flex {
    display: flex;
}


.header {
    height: 3em;
    padding-top: 1.8em;
    border-bottom: 1px solid #e1e4e5;
}

.breadcrumb--svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: -3px;
}

.raquo {
    margin: 0 4px 0 6px;
}

.git {
    float: right;
}

.git--svg {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 1px;
    width: 1rem;
    height: 1rem;
}
