$phone-margin: 1.3rem;

.phone--nav {
    display: none;
}

.phone--nav--menu {
    display: flex;
    background: #0972b7;
    color: #fff;
    padding: 0 $phone-margin;
    position: relative;
    font-size: 1.15rem;
    justify-content: center;
}

#phone--nav--menu--burger {
    position: absolute;
    display: flex;
    align-items: center;
    left: $phone-margin;
    width: 2rem;
    height: 100%;
    cursor: pointer;
}

.phone--nav--menu--burger--svg {
    width: 2rem;
    height: 2rem;
    margin-left: -.2rem;
}

.phone--nav--menu--logo {
    display: block;
    height: 1.3rem;
    padding: 20px 0 14px;
}


#phone--nav--dropdown {
    display: none;

    &.show {
        display: block;
    }
}

.phone--nav--search {
    background-color: rgba(255,255,255, 0.3);
    box-shadow: none;
    color: #fff;
    border-radius: 10em;
    display: block;
    width: 100%;
    border: none;
    font-size: 1em;
    padding: .9em 1.5em .8em;
    margin: 1em 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: 0;

    &::placeholder {
        color: #fff;
    }
}

.phone--nav--c--ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 1rem;

    > li {
        padding: 0;
        margin: 0;
    }

    a {
        color: #fff;
    }
}


@media only screen and (max-width: 40rem) {
    body {
        display: block;
    }

    .nav--c--head {
        display: none;
    }

    .nav--c--search {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    #nav--c--ul {
        display: none;

        &.show {
            display: block;
        }
    }

    .git {
        display: none;
    }

    #bg {
        padding: 0 $phone-margin;
    }

    .phone--nav {
        display: block;
    }

    #nav--c--burger {
        display: flex;
    }

    .nav-- {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }


}
