/*
    Synchronization
*/

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  &> figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    &> figcaption {
      text-align: center;
      margin-top: 5px;
      font-size: 0.9rem;
    }
  }
}

code abbr {
  cursor: help;
}
