<h1>Payment Window</h1>

<p>
  The payment window is where your customers enter their payment details. The payment window is accessed through <a href="/payment-link">payment links</a>. You can either redirect the customer to the payment window, or you can embed the window in your website or app.
</p>

<p>
  The payment window is extremely lightweight and thoroughly tested.
  it is auditable, secure and stable. For security and privacy reasons, we do not use any third-party frameworks or services.
</p>

<h2 id="user-interaction">User interaction</h2>
<p>
  The payment window is optimized for computers and phones. We support autofill in accordance with the whatwg autofill <a href="https://html.spec.whatwg.org/multipage/forms.html#autofill">standard</a>.
</p>

<div class="pic-flex">
  <img class="pic enlarge" width="190" height="200" src="/a/img/payment-window.png" alt="Payment window">
  <img class="pic enlarge" width="145" height="200" src="/a/img/payment-window-phone.jpg" alt="Responsive payment window ">
</div>


<div class="responsive" style="margin-top: 30px;">
  <table>
    <tr style="text-align: center;">
      <th>Chrome</th>
      <th>Safari</th>
      <th>Safari on iOS</th>
      <th>Firefox</th>
      <th>Android <br>browser</th>
      <th>Edge</th>
      <th>Opera</th>
    </tr>
    <tr>
      <td>
        51<br>
        <small>2016-05</small>
      </td>
      <td>
        10.1<br>
        <small>2016-05</small>
      </td>
      <td>
        10.1<br>
        <small>2016-05</small>
      </td>
      <td>
        10.1<br>
        <small>2016-05</small>
      </td>
      <td>
        44<br>
        <small>2016-05</small>
      </td>
      <td>
        14<br>
        <small>2016-05</small>
      </td>
      <td>
        38<br>
        <small>2016-05</small>
      </td>
    </tr>
  </table>
</div>

<h2 id="customization">Customization</h2>
<p>
  We recommend that you upload your company logo in our <a href="https://dashboard.scanpay.dk/settings/payment-window">dashboard</a>. If you wish, you can integrate our payment form into your website with an iFrame.
</p>

<h3>iFrame</h3>

{% include "code/paywin/iframe.html" %}

<div class="note--">
  <div class="note--head">
    {% include "tpl/svg/note.svg" %}
    PCI DSS requirement
  </div>
  <p class="note--body">
    You will need to fill out a Self-Assessment Questionnaire (<a href="https://www.pcisecuritystandards.org/documents/PCI-DSS-v3_2_1-SAQ-A.pdf?agreement=true">SAQ A</a>) if you wish to iFrame our payment window.
  </p>
</div>

<h2 id="languages">Languages</h2>
<p>
  When you create a <a href="/payment-link">payment link</a>, you can select the desired language for the payment window. Our fallback is to choose the best available language, depending on the customers browser settings, i.e. the <code class="code--inline">Accept-Language</code> header. Please contact us if you would like us to support a specific language. We currently support the following languages:
</p>

<div class="paywin--language--flex">
  <table>
    <thead>
      <tr>
        <th width="100">Language</th>
        <th>ISO 639-1</th>
        <th>Git</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Danish</td>
        <td>da</td>
        <td>
          <a rel="nofollow" href="#">
            {% include "tpl/svg/payment-window/github_black.svg" %}
          </a>
        </td>
      </tr>
      <tr>
        <td>Swedish</td>
        <td>sv</td>
        <td>
          <a rel="nofollow" href="#">
            {% include "tpl/svg/payment-window/github_black.svg" %}
          </a>
        </td>
      </tr>
      <tr>
        <td>Norwegian</td>
        <td>no</td>
        <td>
          <a rel="nofollow" href="#">
            {% include "tpl/svg/payment-window/github_black.svg" %}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th width="100">Language</th>
        <th>ISO 639-1</th>
        <th>Git</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>English</td>
        <td>en</td>
        <td>
          <a rel="nofollow" href="#">
            {% include "tpl/svg/payment-window/github_black.svg" %}
          </a>
        </td>
      </tr>
      <tr>
        <td>German</td>
        <td>de</td>
        <td>
          <a rel="nofollow" href="#">
            {% include "tpl/svg/payment-window/github_black.svg" %}
          </a>
        </td>
      </tr>
      <tr>
        <td>French</td>
        <td>fr</td>
        <td>
          <a rel="nofollow" href="#">
            {% include "tpl/svg/payment-window/github_black.svg" %}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<h2 id="error-messages">Error messages</h2>
<p>
  Error messages are displayed in the payment window. Banks are inconsistent and unpredictable, but we do our very best to parse and translate their error codes. Here is a complete list of error messages, that your customers can receive in our payment window:
</p>

<div class="responsive" style="margin-top: 30px;">
  <table>
    <thead>
      <tr>
        <th width="100">Code</th>
        <th width="300">Error message</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>invalid card</td>
        <td>
          <i>Invalid card details. Please verify your card details and try again.</i>
        </td>
        <td>
          The card number, CVC or expiration date is incorrect.
        </td>
      </tr>

      <tr>
        <td>card expired</td>
        <td>
          <i>The card has expired. Please use a different card.</i>
        </td>
        <td>
          The card has expired.
        </td>
      </tr>

      <tr>
        <td>declined</td>
        <td>
          <i>The card was declined. Please verify your card details and try again.</i>
        </td>
        <td>
          The card was declined by the acquiring bank, the card issuer or the bank.
        </td>
      </tr>

      <tr>
        <td>insufficient funds</td>
        <td>
          <i>Payment was rejected by your bank. Your card has insufficient funds.</i>
        </td>
        <td>
          The transaction was rejected by the customer's bank due to insufficient funds, that is, there was not enough money or credit available to cover the payment.
        </td>
      </tr>

      <tr>
        <td>limit exceeded</td>
        <td>
          <i>Payment was rejected by your bank. Your withdrawal limit has been exceeded.</i>
        </td>
        <td>
          The transaction was rejected by the customer's bank. The customer has surpassed their withdrawal limit.
        </td>
      </tr>

      <tr>
        <td><code class="code--inline">$method</code> not supported</td>
        <td>
          <i>Unfortunately, we do not support <code class="code--inline">$method</code>. Please choose a different payment method.</i>
        </td>
        <td>
          The customer tried to pay with a payment method that you do not support, e.g. Apple Pay. This is typically because you forgot to enable it in our dashboard.
        </td>
      </tr>

      <tr>
        <td><code class="code--inline">$card</code> not supported</td>
        <td>
          <i>Unfortunately, we do not support <code class="code--inline">$card</code>. Please use a different card.</i>
        </td>
        <td>
          The customer tried to pay with a payment card that you do not support.
        </td>
      </tr>

      <tr>
        <td>3dsecure failed</td>
        <td>
          <i>3-D Secure authentication failed. Please try again or use a different card.</i>
        </td>
        <td>
          3-D Secure authentication failed.
        </td>
      </tr>

      <tr>
        <td><code class="code--inline">$service</code> failed</td>
        <td>
          <i><code class="code--inline">$service</code> failed. Please try again or use a different payment method.</i>
        </td>
        <td>
          The specified service or payment method failed.
        </td>
      </tr>

      <tr>
        <td>upstream error</td>
        <td>
          <i>An error occurred at the bank. Please wait a moment and try again.</i>
        </td>
        <td>
          An error occurred at the acquiring bank, the card issuer or the bank.
        </td>
      </tr>

      <tr>
        <td>phase error</td>
        <td>
          <i>An error occurred. This may be because you have opened the page in multiple windows.</i>
        </td>
        <td>
          Phase errors are when someone opens the payment window, while it is busy in another state.
        </td>
      </tr>

      <tr>
        <td>internal error</td>
        <td>
          <i>An error occurred while processing your request. Please wait a moment and try again.</i>
        </td>
        <td>An error occured at Scanpay.</td>
      </tr>

      <tr>
        <td>network error</td>
        <td>
          <i>No connection to the server. Please check your internet connection and try again.</i>
        </td>
        <td>
          No connection to our servers.
        </td>
      </tr>

    </tbody>
  </table>
</div>

