/**
*   Highlight.
**/

.hljs-attr { color: #bd143e; }
.hljs-string { color: #138061; }
.hljs-number { color: #fa755a; }
.hljs-comment { color: #9a9a8e; font-style: italic; }
.hljs-keyword { color: #a71d5d; }
.hljs-literal { color: #008080; }
.hljs-attribute, .hljs-name { color: #000080; }
.hljs-built_in, .hljs-func { color: #0086b3; }

// .hljs-selector-tag, .hljs-subst { color: #333; font-weight: bold; }
//  hljs-section, .hljs-title { color: #900; font-weight: bold; }
// .hljs-subst { font-weight: normal; }
// .hljs-type { color: #458; font-weight: bold; }
// .hljs-link, .hljs-regexp { color: #009926; }
// .hljs-bullet, .hljs-symbol { color: #990073; }
// .hljs-deletion { background: #fdd; }
// .hljs-addition { background: #dfd; }
// .hljs-emphasis { font-style: italic; }
// .hljs-strong { font-weight: bold; }


pre > code {
  display: block;
  width: fit-content;
  min-width: 100%; // fill entire width
  padding: .6em .7em;
  margin: .6em 0 0;
  border-radius: .3em;
  background: #f9f9f9;
  border: 1px solid #dcdcdc;
  font-size: .8em;
  font-family: "H", monospace;
  color: #252525;
  white-space: pre;
  box-sizing: border-box;
}

code {
  font-size: .85em;
  font-family: "H", monospace;
  color: #a32525;
  border: solid 1px #e1e4e5;
  margin: 0 1px;
  padding: 1px 3px 1px;
  border-radius: 3px;
}

pre {
  margin: 0;
}

td:first-child > code {
  display: block;
  font-size: .9em;
  font-family: "H", monospace;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;

  background: transparent;
  border: none;
  padding: 0;
  color: #242424;
}

.code--cmdln {
  display: block;
  min-width: 100%; // fill entire width
  max-width: 100%;
  text-indent: -4em;
  white-space: pre-wrap;
  overflow: hidden;
  font-family: "H", monospace;
  color: #252525;
  padding: .5em .5em .5em 3.5em;
  margin: .5em 0 0;
  background: #f4f4f4;
  border-radius: 3px;
  box-sizing: border-box;

  &:before {
    padding-left: 1em;
    content: '$ ';
    color: #999;
  }
}

code > details {
  overflow: hidden;
  &> summary {
    cursor: pointer;
    transition: margin 200ms ease-in-out;
    line-height: 65%;
    margin: .6em 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fdfdfd;
    padding: 1px 1px 2px 1px;
    text-align: center;
    &::marker {
      content: '▼\0a▲';
      color: #888;
    }
  }
  &[open] {
    background-color: #fdfdfd;
    border-radius: 4px;
    & > summary {
      margin: 0;
      border: 0;
      background-color: transparent;
      &::marker {
        content: '▲\0a▼';
      }
    }
  }
}

.endpoint {
  font-family: "H", monospace;
  border-radius: 4px;
  background: #f8f8f8;
  display: inline-block;
  margin: 10px 0 0;
  border: 1px solid #e0e0e0;
  white-space: nowrap;
  overflow: hidden;
  font-size: .8em;
  color: #222;
  padding-right: 12px;

  code {
    font-family: "H", monospace;
  }

  & :first-child {
    display: inline-block;
    padding: 9px 10px 8px;
    font-weight: 700;
    font-size: 1em;
    color: #000080;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #e0e0e0;
    user-select: none;
    margin-right: 4px;
  }

  &> a {
    color: #bd143e;
  }
}

.endpoint + ul, pre + ul {
  padding: 0;
  list-style: none;
  font-style: italic;
  & code {
    font-style: normal;
  }
}
