/**
*   @author ScanPay ApS.
**/


#bg {
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 50rem;
    padding: 0 6% 0;
    min-height: 100vh;
}

.c {
    position: relative;
    width: 100%;
    max-width: 67rem;
}

.article {
    position: relative;
    flex: 1;
    padding-bottom: 2rem;
}

.footer {
    padding: 22px 0 30px;
    color: #585858;
    border-top: 1px solid #e1e4e5;
    font-size: .9em;
}



.header-- {
    padding-top: 1.85rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #e1e4e5;
}

.header--nav {
    display: inline;
}

.header--nav--svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: -3px;
    margin-right: .1rem;
}

.header--nav--raquo {
    margin: 0 .35rem;
}

.header--git {
    float: right;
    font-size: .94em;
}

.header--git--svg {
    display: inline-block;
    vertical-align: -2px;
    margin-right: 1px;
    width: 1rem;
    height: 1rem;
}


/*
    Headings
*/

h1 {
    margin: 1.5em 0 .8em;
    font-family: 'B', serif;
    font-weight: 700;
    font-size: 1.7em;
    line-height: normal;
}

h2 {
    margin: 1.2em 0 .65em;
    color: #404040;
    font-family: 'B', serif;
    font-size: 1.45em;
    font-weight: 700;
    line-height: normal;
}

h3 {
    margin: 1.3em 0 .65em;
    color: #404040;
    font-family: 'B', serif;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: normal;
}

.hlink {
    display: none;
    position: absolute;
    margin: 3px 0 0 .3em;
    width: 1em;
    height: 1em;

    &:hover {
        display: inline-block;
    }
}
h2:hover > .hlink { display: inline-block; }
h3:hover > .hlink { display: inline-block; }
h4:hover > .hlink { display: inline-block; }


/*
    Warnings
*/

button {
    background: none;
    cursor: pointer;
    border: 0;
    margin: 0;

    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0; // Remove inner padding and border in Firefox 4+ (normalize)
    }
}

/*
Tables
*/

table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    empty-cells: show;
    border: 1px solid #d5d5d5;
    font-size: .9em;
    //word-break: break-all;
    //min-width: 40em;
    width: 100%;
    min-width: 40rem;

    overflow-x: auto;
    padding: 0;
    margin: 1.5em 0 1.9em;
}

th {
    background: #f2f2f2;
    color: #333;
    border: 1px solid #d9d9d9;
    font-weight: 700;
    font-size: .9em;
    text-align: left;
    margin: 0;
    padding: .55em 13px .45em
}

td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    text-align: left;
    margin: 0;
    padding: .7em .9em;
    position: relative;
    overflow: hidden;
}

table ul {
    margin: 8px 0 0;
    padding: 0 5px 0 1.2em;

    >li {
        margin: 9px 0;
    }
}

ol > li::marker {
  font-weight: bold;
}

ol li {
  padding-left: 0.7em;
}
