{% extends "default.html" %}
{% set title = "Subscriptions" | settitle %}
{% set label = "API" | setlabel %}
{% block meta %}
<title>Subscriptions - Scanpay</title>
<meta name="description" content="...">
{% endblock %}

{% block article %}
  <h1>Subscriptions</h1>


<pre><code class="pcode">
GET /v1/subscribers/$id-$id
{
    "billing": {},
    "shipping": {},
    "created": "",
    "total": "9149 DKK",
    "lastCapture": ""
}

GET /v1/subscribers/$id/events (seq?)

POST/DELETE /v1/subscribers/$id

POST /v1/subscribers/$id/charge
    "items": [], - manuel trækning

GET /v1/subscribers/seq/$seq
    “seq”: 5,
    “events”?: [... list of events (onboarded + charges) ...],

New card:

POST /v1/subscribers/$id/renew
    "url": "https://betal.scanpay.dk/9qdvbx2r"

</code></pre>





{% endblock %}
