<!DOCTYPE HTML><html lang="en">
<link href="/css/docs.css?{{ csst }}" rel="stylesheet">
<link rel="preload" href="/font/B700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/L400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/L400i.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/L700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/L700i.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/H400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/H400i.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/H700.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/font/H700i.woff2" as="font" type="font/woff2" crossorigin>

<script defer src="/js/docs.js?{{ jst }}"></script>
<title>{{ title }}</title>
<meta name="description" content="{{ meta }}">
<link rel="canonical" href="https://docs.scanpay.dk{{ url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="menu">
  <nav class="nav">
    <div class="nav--logo">
      <a href="https://scanpay.dk" title="Back to Scanpay">
        <img class="nav--logo--svg" src="/img/logo.svg" alt="Scanpay logo">
      </a>
    </div>

    <div class="nav--search">
      <div id="nav--burger">
        {% include "tpl/svg/burger.svg" %}
      </div>
      <form class="nav--search--form" action="/search">
        <input class="nav--search--input"
          type="search"
          name="q"
          autocomplete="off"
          placeholder="Search the docs">
      </form>
    </div>
    <ul id="nav--ul">
      {{ sidebar }}
    </ul>
  </nav>
</div>

<div class="c">
  <div id="bg">
    <header class="header--">
      <a rel="nofollow" href="https://github.com/scanpay/docs.scanpay.dk/blob/main/html/{{ path }}" class="header--git">
        {% include "tpl/svg/github.svg" %} Edit on GitHub
      </a>
      <nav class="header--nav">
        {% include "tpl/svg/breadcrumb.svg" %}
        {{ breadcrumb }}
      </nav>
    </header>
    <article class="article">
